/*подключаем шрифты*/
@font-face{
    font-family: "TT Lakes";
    src: url("../assets/TTLakes-Regular.woff") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url("../assets/TTLakes-Bold.woff") format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #F8F8F8;
}
/*обёртка для всего сайта*/
.wrapper {
    font-family: "TT Lakes" , "Tahoma", sans-serif;
    background-color: #F8F8F8;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1120px;
}

/*выравнивалка для текста в артикл*/
.main__text_container p {
    text-align: justify;
}

/*отключаем стили ссылок*/
a:link {
    text-decoration: none;
    color:inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}
/*--------------------------*/

/*обёртка для верхнего блока- хэдера)*/
.header {
    display: flex;
    height: 88px;
    background-color: #FFFFFF;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
    min-width: 320px;
    box-sizing: border-box;
}

/*обёртка для всего содержимого которое ниже хэдера*/
.main__wrapper {
    min-width: 320px;
    padding-bottom: 16px;
}

/*обёртка для блока с текстом и картинкой*/
.main__text_img-container {
    display: flex;
    flex-direction: column;
}

/*слайдер со списком ссылок внутри, уезжающий за экран*/
.main__slider-list{
    display: flex;
    color: #7E7E82;
    font-size: 16px;
    list-style-type: none;
    white-space: nowrap;
    overflow-y: hidden;
    margin: 0 0 24px 16px;
    padding: 0;
}
.main__slider-list li {
    padding: 12px 2px;
}
.slider__link {
    padding: 8px 10px 8px 16px;
    border: 2px solid #F8F8F8;
    border-radius: 6px;
}

.slider__link:hover, .slider__link:active, .slider__link:focus{
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
    outline: none;
}
/*.... конец слайдера*/

/*гланый наш заголовок*/
.main__title {
    font-family: "TT Lakes Bold", "Tahoma", sans-serif;
    font-size: 28px;
    line-height: 40px;
    padding:0;
    margin: 24px 16px;
    display: block;
}

.actions-repair::before {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 2px;
    position: absolute;
    right: 117px;
    top: 6px
}

/*маркер перед заголовоком*/
.main__title::before{
    content: "";
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 5px;
    position: absolute;
    left: -1px;
}
/*делаем картинку резиновой чтобы во флексе тянулась*/
.main__img {
    max-width: 100%;
    height: auto;
}

/*стили для первого абзаца*/
.main__text {
    font-family: "TT Lakes", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding: 0 16px;
    margin: 0;
    margin-bottom: 16px;
    color: #1B1C21;
}

/*обёртка для кнопки ЧИТАТЬ ДАЛЕЕ*/
.main__text--read_more_container{
    display: flex;
    align-items:center;
    margin-left: 16px;
    margin-bottom: 10px;
}

/*настройка элементов в хэдере, скрываем лишнее на мобайл фёрст версии*/

.main__text--hide1,
.main__text--hide2,
.main__actions {
    display: none;
}

button {
    padding: 0;
    border: none;
    background-color: #FFFFFF;

}

.header__burger,
.header__logo {
    margin-left: 16px;
}

.header__actions {
    display: flex;
    list-style-type: none;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    margin-right: 16px;
    margin-left: auto;
    position: relative;
}
.actions-container {
    margin-left: 16px;
    padding-top: 2px;
}
.actions-container:nth-child(-n+3) {
    display: none;
}

@media screen and (min-device-width: 550px) and (max-device-width: 650px) {

    /*делаем красиво в хэдере при растягивании экрана и задаём отступы*/
   .header__burger {
       margin-left: 24px;
       position: relative;
   }

    .header__burger::before {
        content: "";
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 2px;
        position: absolute;
        right: -20px;
        top: 6px
    }
    .header__logo {
        margin-left: 42px;
    }

    .main__text_img-container{
        flex-direction: row;
        margin-right: 24px;
    }
    .main__text-expand_btn {
        font-size: 16px;
    }
    .main__img {
        border-radius: 6px;
    }

    .main__slider-list{
        margin: 0 0 24px 24px;
    }
    .main__text {
        padding: 0 24px;

    }
    .actions-container:nth-child(-n+3) {
        display: block;
    }

    .header__actions {
        margin-right: 24px;
    }

    li .actions-profile {

        padding-right: 26px;
    }
    .main__title {
        margin: 24px;
    }
}

@media screen and (min-device-width: 650px) and (max-device-width: 1119px) {

    .header__burger {
        margin-left: 24px;
        position: relative;
    }

    .header__burger::before {
        content: "";
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 2px;
        position: absolute;
        right: -20px;
        top: 6px
    }
    .header__logo {
        margin-left: 42px;
    }

    .actions-container:nth-child(-n+3) {
        display: block;
    }

    .header__actions {
        margin-right: 24px;
    }

    li .actions-profile {

        padding-right: 26px;
    }




    .main__text_img-container {
        flex-direction: row;
        margin-right: 24px;
    }

    .main__text_container, .main__img {
        flex-basis: 50%;
        line-height: 20px;
    }

    .main__text--hide1 {
        display: block;
        font-family: "TT Lakes", "Tahoma", sans-serif;
        font-size: 14px;
        line-height: 20px;
        padding: 0 16px;
        margin: 0;
        margin-bottom: 16px;
        color: #1B1C21;
    }

    .main__img {
        border-radius: 6px;
    }

    .main__slider-list{
        margin: 0 0 24px 24px;
    }
    .main__text, .main__text--hide1 {
        padding: 0 24px;
    }

    .main__title {
        margin: 24px;
    }
}

@media screen and (min-device-width: 1120px) {

    .header {
        display: none;
    }

    .main__actions {
        display: flex;
        list-style-type: none;
        margin-top: 42px;
        margin-left: auto;
    }
    .main__actions li{
        padding-left: 32px;
    }
    .main__actions li button {
        display: flex;
        align-items: center;
        background-color: #F8F8F8;
    }
    .main__actions li button img{
        padding-left: 8px;
    }
    .main__actions li {
        height: 40px;
    }

    .main__text_img-container {
        flex-direction: row;
        margin-right: 24px;
    }

    .main__text_container, .main__img {
        flex-basis: 50%;
        line-height: 20px;
    }

    .main__text--hide2 {
        display: block;
        font-family: "TT Lakes", "Tahoma", sans-serif;
        font-size: 14px;
        line-height: 20px;
        padding: 0 16px;
        margin: 0;
        margin-bottom: 16px;
        color: #1B1C21;
    }

    .main__img {
        border-radius: 6px;
    }

    .main__slider-list {
        margin: 0 0 24px 24px;
    }

    .main__text, .main__text--hide2 {
        padding: 0 24px;
    }

    .main__title::before {
        content: "";
        width: 4px;
        height: 40px;
        background-color: #41F6D7;
        border-radius: 5px;
        position: absolute;
        left: -1px;
    }

    .main__title-wrapper {
        display: flex;
        position: relative;

    }

    .actions-repair::before {
        display: none;
    }
    .main__title {
        margin: 42px 0 0 32px;
    }
}
