
@font-face{
font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'TT Lakes Bold';
    src: url("../fonts/TTLakes-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
body {
    font-family: "TT Lakes";
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
    width: 320px;
}
a:link {
    text-decoration: none;
    color:inherit;
}
a:visited {
    text-decoration: none;
    color:inherit;
}




.header {
    padding-top: 4px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-evenly;
    align-items: center;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
}


.main__title {
    font-family: "TT Lakes Bold";
    font-size: 28px;
    font-weight: 700;
    margin: 24px 16px;


}

.main__title::before{
    content: "";
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 5px;
    position: absolute;
    left: -1px;
}

.main__slider {
    display: flex;
    color: #7E7E82;
    font-size: 16px;
    list-style-type: none;
    white-space: nowrap;
    padding: 16px;
    overflow: scroll;
    margin-bottom: 24px;
}

.main__slider li {
    margin-right: 5px;

}
.slider__link {
    padding: 8px 10px 8px 16px;
    border: 2px solid #F8F8F8;
    border-radius: 6px;
}
.slider__link--highlighted {
    padding: 8px 10px 8px 16px;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
}
.slider__link:hover, .slider__link:active, .slider__link:focus{
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
    outline: none;
}

.main__paragraph--min {
    margin-left: 16px;
    text-align: left;
    font-size: 14px;
    width: 288px;
    height: 90px;
}

.button-next {
    margin-left: 16px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}


@media (min-width: 320px) {
    /* Стили для устройств с шириной viewport, находящейся в диапазоне 320px - 768px */
}


@media (min-width: 768px) {
    /* Стили для устройств с шириной viewport, находящейся в диапазоне 992px - 1199px */
}


@media (min-width: 1120px) {
    /* Стили для устройств с шириной viewport >1120px */
}

